{% extends 'base.html' %}

{% block body %}






    <div class="heading">
        <p style="font-size: 28px;">JEE College Predictor 2023</p>
        <P style="font-size: 20px;">Enter your JEE rank to predict colleges that you can get admission in</P>
    </div>

    <div class="container">
        <div class="box">
            <div class="title">ENTER YOUR JEE ADVANCED EXAM DETAILS</div>
            <form action="/result" method="POST" id="myform">
                <div id="section-1">
                    <div class="user-info">
                        <div class="filter">
                            <div class="name">
                                <label for="name">Name: </label>
                                <input type="text" id="name" name="name" placeholder="Enter your name" required>
                            </div>
                            <!-- <div class="material-symbols-outlined" id="symbol-1">filter_alt</div> -->
                        </div>
                        <div class="rank">
                            <label for="rank">Rank: </label>
                            <p>Enter your category rank</p>
                            <input type="number" name="rank" id="rank" placeholer="Enter general rank" required>
                        </div>
                        <div class="category">
                            <label for="category">Category: </label>
                            <select name="category" id="category" required>
                                <option value="">Select Category</option>
                                <option value="open">OPEN</option>
                                <option value="open-pwd">OPEN (PWD)</option>
                                <option value="ews">EWS</option>
                                <option value="ews-pwd">EWS (PWD)</option>
                                <option value="obc-ncl">OBC-NCL</option>
                                <option value="obc-ncl-pwd">OBC-NCL (PWD)</option>
                                <option value="sc">SC</option>
                                <option value="sc-pwd">SC (PWD)</option>
                                <option value="st">ST</option>
                                <option value="st-pwd">ST (PWD)</option>
                            </select>
                        </div>
                        <div class="gender">
                            <label for="gender">Gender: </label>
                            <select name="gender" id="gender" required>
                                <option value="">Select Gender</option>
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                            </select>
                        </div>
                    </div>
                    <div class="predict">
                        <input type="submit" value="Predict" form="myform">
                    </div>
                </div>
            </form>
<!--             
                <div id="section-2">
                    <div class="user-info">
                        <div class="close">
                            <div class="state">
                                <label for="state">State: </label>
                                <input type="text" placeholder="Enter your state" required>
                            </div>
                            <div class="material-symbols-outlined" id="symbol-2">close</div>
                        </div>
                        <div class="category">
                            <label for="category">Category: </label>
                            <select name="category" id="category">
                                <option value="category">Select Category</option>
                                <option value="open">OPEN</option>
                                <option value="open-pwd">OPEN (PWD)</option>
                                <option value="ews">EWS</option>
                                <option value="ews-pwd">EWS (PWD)</option>
                                <option value="obc-ncl">OBC-NCL</option>
                                <option value="obc-ncl-pwd">OBC-NCL (PWD)</option>
                                <option value="sc">SC</option>
                                <option value="sc-pwd">SC (PWD)</option>
                                <option value="st">ST</option>
                                <option value="st-pwd">ST (PWD)</option>
                            </select>
                        </div>
                        <div class="rank">
                            <label for="rank">Your rank: </label>
                            <input type="number" placeholer="Enter category rank" required>
                        </div>
                    </div>
                    <div class="apply">
                        <input type="submit" value="Apply" form="myform">
                    </div>
                </div>


            </form> -->
        </div>
    </div>

    <footer>
        <div class="footer">
            <div class="row social-icons">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-youtube"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
            </div>
        
            <div class="row">
                <ul>
                    <li><a href="#">Contact us</a></li>
                    <li><a href="#">Our Services</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms & Conditions</a></li>
                    <li><a href="#">Career</a></li>
                </ul>
            </div>
        
            <div class="row copyright-text">
                COLLEGE PREDICTOR © 2023 - All rights reserved || Designed By: Manthan and Harsh
            </div>
        </div>
    </footer>

    {% endblock body %}
    